/**
 * @name Pesterchum
 * @description A Discord theme emulating Pesterchum from Homestuck.
 * @author HypnoticOcelot
 * @version 1.0.0
 * @authorId 404053132910395393
 * @authorLink https://ocelot.lol/
*/

/*
This is an updated version of https://github.com/devgocri/epico/blob/main/chum.min.css,
which itself is an updated version of https://github.com/MiniDiscordThemes/Pesterchum,
which itself is an updated version of https://github.com/luminaryFlowers/Pesterchum-Discord-Theme.
I don't know much about Discord CSS, so I just run everything through
https://syndishanx.github.io/Website/Update_Classes.html when the theme is looking a little off. */

/* See https://github.com/MiniDiscordThemes/Pesterchum#customisation for customisation settings. */
@import"https://minidiscordthemes.github.io/Snippets/ChannelListWidth/main.css";
@import"https://minidiscordthemes.github.io/Pesterchum/font/courier_prime/stylesheet.css";
@import"https://minidiscordthemes.github.io/Pesterchum/font/courier_new_cyr/stylesheet.css";
@import"https://devgocri.github.io/epico/sq.min.css";

:root {
  --chum-dark: #241a42;
  --chum-medium: #020204;
  --chum-light: #241a42;
  --chum-sidebar-width: 300px;
}

.theme-dark {
	--chum-background: #000000;
	--chum-foreground: #ffffff
}

.theme-light {
	--chum-background: #ffffff;
	--chum-foreground: #000000
}

._960e4207cea8323e-bg {
	background: var(--chum-medium)
}

._5e434347c823b592-content {
	border: 4px solid var(--chum-light)
}

._5e434347c823b592-content ._5e434347c823b592-sidebar {
	padding: 0px;
	margin: 10px
}

._5e434347c823b592-content ._5e434347c823b592-sidebar+:is(div, main):not(.erd_scroll_detection_container),
._5e434347c823b592-content ._5e434347c823b592-sidebar+.erd_scroll_detection_container+:is(div, main):not(.erd_scroll_detection_container) {
	background: unset !important;
	border-left: 4px solid var(--chum-light)
}

._5e434347c823b592-content ._5e434347c823b592-sidebar+:is(div, main):not(.erd_scroll_detection_container) .f75fb00fb7356cbe-content,
._5e434347c823b592-content ._5e434347c823b592-sidebar+:is(div, main):not(.erd_scroll_detection_container) ._133bf5eea8e33a34-tabBody,
._5e434347c823b592-content ._5e434347c823b592-sidebar+.erd_scroll_detection_container+:is(div, main):not(.erd_scroll_detection_container) .f75fb00fb7356cbe-content,
._5e434347c823b592-content ._5e434347c823b592-sidebar+.erd_scroll_detection_container+:is(div, main):not(.erd_scroll_detection_container) ._133bf5eea8e33a34-tabBody {
	padding: 16px;
	gap: 16px
}

._5e434347c823b592-content ._5e434347c823b592-sidebar+:is(div, main):not(.erd_scroll_detection_container) .f75fb00fb7356cbe-content::before,
._5e434347c823b592-content ._5e434347c823b592-sidebar+:is(div, main):not(.erd_scroll_detection_container) ._133bf5eea8e33a34-tabBody::before,
._5e434347c823b592-content ._5e434347c823b592-sidebar+.erd_scroll_detection_container+:is(div, main):not(.erd_scroll_detection_container) .f75fb00fb7356cbe-content::before,
._5e434347c823b592-content ._5e434347c823b592-sidebar+.erd_scroll_detection_container+:is(div, main):not(.erd_scroll_detection_container) ._133bf5eea8e33a34-tabBody::before {
	display: none
}

.e6b7699ce8339e1c-privateChannels ._99e7cad8d4c55236-scroller {
	background: unset
}

.e6b7699ce8339e1c-privateChannels ._99e7cad8d4c55236-scroller ._972a0d22c8afa7f0-channel {
	max-width: unset
}

.e6b7699ce8339e1c-privateChannels ._99e7cad8d4c55236-scroller ._972a0d22c8afa7f0-channel:has(path[d^="M3 5v-.75"]) ._20a53846fe2e8513-name {
	font-size: 0;
	height: 20px
}

.e6b7699ce8339e1c-privateChannels ._99e7cad8d4c55236-scroller ._972a0d22c8afa7f0-channel:has(path[d^="M3 5v-.75"]) ._20a53846fe2e8513-name::before {
	font-size: 16px;
	content: "Chums"
}

.e6b7699ce8339e1c-privateChannels ._99e7cad8d4c55236-scroller ._99e7cad8d4c55236-headerText {
	font-size: 0
}

.e6b7699ce8339e1c-privateChannels ._99e7cad8d4c55236-scroller ._99e7cad8d4c55236-headerText::before {
	font-size: 12px;
	content: "Chumroll"
}

._9293f6b2fc12398a-container:has(path[d^="M3 5v-.75"]) ._9293f6b2fc12398a-title {
	font-size: 0
}

._9293f6b2fc12398a-container:has(path[d^="M3 5v-.75"]) ._9293f6b2fc12398a-title::before {
	font-size: 16px;
	content: "Chums"
}

._9293f6b2fc12398a-container .aa8da23faa27393c-item {
	background: var(--chum-medium);
	border: 4px solid var(--chum-light);
	color: #000
}

._9293f6b2fc12398a-container .aa8da23faa27393c-item.aa8da23faa27393c-themed:hover:not(.aa8da23faa27393c-disabled),
._9293f6b2fc12398a-container .aa8da23faa27393c-item.aa8da23faa27393c-themed.aa8da23faa27393c-selected.aa8da23faa27393c-item,
._9293f6b2fc12398a-container .aa8da23faa27393c-item._133bf5eea8e33a34-addFriend._133bf5eea8e33a34-addFriend {
	background-color: var(--chum-light);
	color: #000
}

._9293f6b2fc12398a-container ._133bf5eea8e33a34-addFriend span {
	font-size: 0;
	height: 20px
}

._9293f6b2fc12398a-container ._133bf5eea8e33a34-addFriend span::before {
	font-size: 16px;
	content: "Add Chum"
}

._9293f6b2fc12398a-container .akaBadge__27cd4 {
	background: #000;
	color: #fff
}

.cb9592ad77576717-wrapper.cb9592ad77576717-minimum {
	background: unset
}

.cb9592ad77576717-wrapper.cb9592ad77576717-minimum .quickSelectLabel__79774,
.cb9592ad77576717-wrapper.cb9592ad77576717-minimum .quickSelect__540d0,
.cb9592ad77576717-wrapper.cb9592ad77576717-minimum .f1ceaca61b18918e-controlIcon.f1ceaca61b18918e-themeable {
	color: #000
}

.cb9592ad77576717-wrapper.cb9592ad77576717-minimum ._1405b3b8e8eb5fd0-controlButton {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark)
}

.cb9592ad77576717-wrapper.cb9592ad77576717-minimum ._1405b3b8e8eb5fd0-controlButton .f1ceaca61b18918e-colorable.f1ceaca61b18918e-primaryDark,
.cb9592ad77576717-wrapper.cb9592ad77576717-minimum ._1405b3b8e8eb5fd0-controlButton .f1ceaca61b18918e-colorable.primaryLight_f1ceac {
	background: unset
}

._133bf5eea8e33a34-peopleColumn {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

._133bf5eea8e33a34-peopleColumn .image__08515[style*="bca918618b884a382ab5.svg"]+._7c0bae9243151ddd-flexChild .text__0e310 {
	font-size: 0
}

._133bf5eea8e33a34-peopleColumn .image__08515[style*="bca918618b884a382ab5.svg"]+._7c0bae9243151ddd-flexChild .text__0e310::before {
	font-size: 16px;
	content: "Wumpus has no chums."
}

._133bf5eea8e33a34-peopleColumn#all-tab ._1472a8142d02ea23-title {
	position: relative;
	overflow: visible;
	margin-inline-start: calc(30px - 1.2em)
}

._133bf5eea8e33a34-peopleColumn#all-tab ._1472a8142d02ea23-title::before {
	content: "All chums";
	position: absolute;
	background: var(--chum-background);
	padding-left: 1.2em
}

._133bf5eea8e33a34-peopleColumn#blocked-tab ._1472a8142d02ea23-title {
	position: relative;
	overflow: visible;
	margin-inline-start: calc(30px + 1.2em)
}

._133bf5eea8e33a34-peopleColumn#blocked-tab ._1472a8142d02ea23-title::before {
	content: "Trollslum";
	position: absolute;
	background: var(--chum-background);
	left: -1.2em
}

._133bf5eea8e33a34-peopleColumn#add_friend-tab ._94b083577c5dbbb3-title {
	font-size: 0
}

._133bf5eea8e33a34-peopleColumn#add_friend-tab ._94b083577c5dbbb3-title::before {
	font-size: 16px;
	content: "Add Chum"
}

._133bf5eea8e33a34-peopleColumn#add_friend-tab .ddd1814f7cd3e6fd-description:first-child {
	font-size: 0
}

._133bf5eea8e33a34-peopleColumn#add_friend-tab .ddd1814f7cd3e6fd-description:first-child::before {
	font-size: 14px;
	content: "You can add chums with their chumhandles."
}

._133bf5eea8e33a34-peopleColumn#add_friend-tab ._0ed4fc708cdbac0d-input::-moz-placeholder {
	color: rgba(0, 0, 0, 0)
}

._133bf5eea8e33a34-peopleColumn#add_friend-tab ._0ed4fc708cdbac0d-input::placeholder {
	color: rgba(0, 0, 0, 0)
}

._133bf5eea8e33a34-peopleColumn#add_friend-tab ._201d5e8a3c09670a-button {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark)
}

._133bf5eea8e33a34-peopleColumn#add_friend-tab ._201d5e8a3c09670a-button ._201d5e8a3c09670a-contents {
	font-size: 0
}

._133bf5eea8e33a34-peopleColumn#add_friend-tab ._201d5e8a3c09670a-button ._201d5e8a3c09670a-contents::before {
	font-size: 14px;
	content: "Send chum request"
}

._133bf5eea8e33a34-peopleColumn#add_friend-tab .title_a14595 {
	font-size: 0
}

._133bf5eea8e33a34-peopleColumn#add_friend-tab .title_a14595::before {
	font-size: 16px;
	content: "Other places to make chums"
}

._133bf5eea8e33a34-nowPlayingColumn {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

._133bf5eea8e33a34-nowPlayingColumn ._7d20cf18f8a2784c-container {
	background: unset
}

._133bf5eea8e33a34-nowPlayingColumn ._7d20cf18f8a2784c-container ._7d20cf18f8a2784c-scroller {
	border-left: 0;
	margin-left: 0
}

.profilePanel_b433b4 {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

.profilePanel_b433b4 .userProfileOuterUnthemed_c69a7b,
.profilePanel_b433b4 .userPanelInnerThemed_c69a7b {
	background: unset
}

:is(._4a84a2c88d373bef-scroller, .c880e89226639033-scroller) {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark);
	margin: 16px
}

:is(._4a84a2c88d373bef-scroller, .c880e89226639033-scroller) .adb41f8099151bc8-header {
	background: unset
}

.shopScrollBackgroundPrimary__28f1d {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark);
	margin: 16px;
	height: calc(100% - 80px)
}

.shopScrollBackgroundPrimary__28f1d .pageWrapperBackgroundPrimary__36469 {
	background: unset
}

.f369dba7416c67f0-container {
	gap: 16px;
	background: unset
}

.f369dba7416c67f0-container .f369dba7416c67f0-list,
.f369dba7416c67f0-container .f369dba7416c67f0-grid {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark)
}

.f369dba7416c67f0-container .f369dba7416c67f0-list>div:first-child,
.f369dba7416c67f0-container .f369dba7416c67f0-grid>div:first-child {
	padding: 0 12px;
	padding-right: 4px
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-mainCard,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-mainCard {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-mainCard._9a337c84ff86a914-isOpen,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-mainCard._9a337c84ff86a914-isOpen {
	border-color: var(--chum-light)
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-mainCard ._08166c4389c22135-pinIcon,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-mainCard ._08166c4389c22135-pinIcon {
	background: var(--chum-dark)
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-mainCard ._9a337c84ff86a914-contentPreview,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-mainCard ._9a337c84ff86a914-contentPreview {
	background: unset;
	border: none
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-mainCard ._9a337c84ff86a914-contentPreview ._9a337c84ff86a914-textContentFooter,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-mainCard ._9a337c84ff86a914-contentPreview ._9a337c84ff86a914-textContentFooter {
	background: linear-gradient(to top, var(--chum-background), transparent)
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .faa96b2163f6a142-container:hover,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .faa96b2163f6a142-container:hover {
	transform: none
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-matchingPostsRow,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-matchingPostsRow {
	background: unset;
	--text-normal: #000000
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-matchingPostsRow .text-xs-normal_ccc5fb,
.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-matchingPostsRow .text-xs-semibold__2181c,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-matchingPostsRow .text-xs-normal_ccc5fb,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-matchingPostsRow .text-xs-semibold__2181c {
	font-size: 14px;
	line-height: 18px
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .ca49a1898ddc29e3-container,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .ca49a1898ddc29e3-container {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .ca49a1898ddc29e3-container .ca49a1898ddc29e3-descriptionContainer,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .ca49a1898ddc29e3-container .ca49a1898ddc29e3-descriptionContainer {
	background: unset
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-divider,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-divider {
	width: 4px;
	background: var(--chum-dark)
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-sortDropdown,
.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-tagsButton,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-sortDropdown,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-tagsButton {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark);
	--interactive-normal: #000000
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-sortDropdown[aria-expanded=true],
.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-tagsButton[aria-expanded=true],
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-sortDropdown[aria-expanded=true],
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-tagsButton[aria-expanded=true] {
	border-color: var(--chum-light)
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-tagsButton,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-tagsButton {
	padding: 0
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-tagsButton .f369dba7416c67f0-countContainer,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-tagsButton .f369dba7416c67f0-countContainer {
	background: unset
}

.f369dba7416c67f0-container .f369dba7416c67f0-list .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-tagsButton .f369dba7416c67f0-countText,
.f369dba7416c67f0-container .f369dba7416c67f0-grid .f369dba7416c67f0-tagsContainer .f369dba7416c67f0-tagsButton .f369dba7416c67f0-countText {
	color: #000;
	font-size: 14px;
	line-height: 18px
}

.a2c9e80f6531ccc2-pill.a2c9e80f6531ccc2-pill {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark);
	--text-normal: #000000
}

.a2c9e80f6531ccc2-pill.a2c9e80f6531ccc2-pill.a2c9e80f6531ccc2-clickable:not(.a2c9e80f6531ccc2-disabled):hover {
	background: var(--chum-medium)
}

.a2c9e80f6531ccc2-pill.a2c9e80f6531ccc2-pill.a2c9e80f6531ccc2-selected.a2c9e80f6531ccc2-selected {
	border-color: var(--chum-light);
	background: var(--chum-medium)
}

.grid-21dB-S>div:first-child,
.f369dba7416c67f0-headerRow,
.f369dba7416c67f0-list>div:first-child {
	min-width: unset;
	box-sizing: border-box
}

._36d072eab2b2e737-scrollerInner {
	overflow: unset
}

._36d072eab2b2e737-scrollerInner ._34c2c51cfce1632e-container {
	background: unset;
	pointer-events: none;
	border-top: 0;
	top: 0
}

._36d072eab2b2e737-scrollerInner ._34c2c51cfce1632e-container ._34c2c51cfce1632e-reactButtons,
._36d072eab2b2e737-scrollerInner ._34c2c51cfce1632e-container ._34c2c51cfce1632e-buttons {
	pointer-events: all
}

._36d072eab2b2e737-scrollerInner .ee23ac2acd215184-divider {
	display: none
}

._36d072eab2b2e737-scrollerInner ._34c2c51cfce1632e-addReactButton,
._36d072eab2b2e737-scrollerInner .buttonInner__34c2c {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark);
	color: #000
}

._36d072eab2b2e737-scrollerInner ._34c2c51cfce1632e-addReactButton.f8896c4f6be18f59-active,
._36d072eab2b2e737-scrollerInner .buttonInner__34c2c.f8896c4f6be18f59-active {
	background: var(--chum-medium);
	border: 4px solid var(--chum-light)
}

._36d072eab2b2e737-scrollerInner ._34c2c51cfce1632e-addReactButton:hover,
._36d072eab2b2e737-scrollerInner ._34c2c51cfce1632e-addReactButton:active .f8896c4f6be18f59-icon,
._36d072eab2b2e737-scrollerInner ._34c2c51cfce1632e-addReactButton.f8896c4f6be18f59-active .f8896c4f6be18f59-icon,
._36d072eab2b2e737-scrollerInner ._34c2c51cfce1632e-addReactButton:hover .f8896c4f6be18f59-icon,
._36d072eab2b2e737-scrollerInner .buttonInner__34c2c:hover,
._36d072eab2b2e737-scrollerInner .buttonInner__34c2c:active .f8896c4f6be18f59-icon,
._36d072eab2b2e737-scrollerInner .buttonInner__34c2c.f8896c4f6be18f59-active .f8896c4f6be18f59-icon,
._36d072eab2b2e737-scrollerInner .buttonInner__34c2c:hover .f8896c4f6be18f59-icon {
	color: #000
}

._36d072eab2b2e737-scrollerInner .f8896c4f6be18f59-reaction {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark)
}

._36d072eab2b2e737-scrollerInner .f8896c4f6be18f59-reaction.f8896c4f6be18f59-reactionMe {
	background: var(--chum-medium);
	border: 4px solid var(--chum-light)
}

._36d072eab2b2e737-scrollerInner .f8896c4f6be18f59-reaction .f8896c4f6be18f59-reactionCount {
	color: #000
}

._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) {
	background: unset
}

._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed)::before {
	display: none
}

._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) ._9293f6b2fc12398a-children::after {
	background: linear-gradient(90deg, transparent, var(--message-background-alt))
}

._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) ._9293f6b2fc12398a-title,
._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) ._6ec1a06139ec3b27-topic,
._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) .nicknames__12efb {
	color: #000
}

._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) .divider__9293f {
	display: none
}

._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) .c322aadb96ff59c9-searchBar,
._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) .searchBar__3fb48 {
	background: var(--chum-background)
}

._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) ._9293f6b2fc12398a-icon,
._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) ._9293f6b2fc12398a-clickable ._9293f6b2fc12398a-icon,
._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) ._9293f6b2fc12398a-clickable:hover ._9293f6b2fc12398a-icon,
._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) ._9293f6b2fc12398a-selected ._9293f6b2fc12398a-icon {
	color: #000
}

._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) ._9293f6b2fc12398a-iconWrapper path {
	fill: #000
}

.c8ffbb79449f399c-container {
	background: unset
}

.c8ffbb79449f399c-members {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

._0f2e83213c878a13-container,
.c8ffbb79449f399c-member {
	background: unset
}

.c791b281f2fedc32-header {
	box-shadow: none
}

.c791b281f2fedc32-header+.scroller_d20375 {
	padding-bottom: 0;
	top: 16px;
	left: 16px;
	width: calc(100% - 28px)
}

.c791b281f2fedc32-header+.scroller_d20375 .f75fb00fb7356cbe-content.f75fb00fb7356cbe-content.f75fb00fb7356cbe-content {
	padding: 0;
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

._09a38002c6c2466d-mainTableContainer {
	background: var(--chum-background)
}

.dc83f5490ab160ad-chatHeaderBar {
	background: var(--chum-background);
	border: 4px solid var(--chum-light)
}

.dc83f5490ab160ad-chatHeaderBar::after {
	display: none
}

.f75fb00fb7356cbe-chatContent {
	gap: 16px;
	background: unset
}

.f75fb00fb7356cbe-chatContent ._36d072eab2b2e737-messagesWrapper {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

.f75fb00fb7356cbe-chatContent ._0f481cbbd7530492-newMessagesBar,
.f75fb00fb7356cbe-chatContent ._0f481cbbd7530492-jumpToPresentBar {
	background: var(--chum-dark)
}

.f75fb00fb7356cbe-form {
	padding: 0
}

.f75fb00fb7356cbe-form::before {
	display: none
}

.f75fb00fb7356cbe-form .f75fb00fb7356cbe-channelTextArea {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark);
	box-sizing: border-box
}

.f75fb00fb7356cbe-form .f75fb00fb7356cbe-channelTextArea._740174f3d6a2c8fe-channelTextAreaDisabled {
	background: var(--chum-dark)
}

.f75fb00fb7356cbe-form .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-themedBackground {
	background: unset
}

.f75fb00fb7356cbe-form .b8880176888cc928-base {
	color: #000;
	inset: auto 0 0
}

.f75fb00fb7356cbe-form .b8880176888cc928-base ._5ad890d06f24286d-dots._5ad890d06f24286d-themed {
	color: #000
}

.f75fb00fb7356cbe-form .b8880176888cc928-base .b216994de061a9e2-cooldownWrapper {
	color: #000 !important
}

.d125d22cdfd32cfe-scrollerBase:has(._7449fa59699cedd9-homeContainer) {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark);
	margin: 16px
}

.d125d22cdfd32cfe-scrollerBase:has(._7449fa59699cedd9-homeContainer) .d13feb942bc5e7c6-row,
.d125d22cdfd32cfe-scrollerBase:has(._7449fa59699cedd9-homeContainer) ._7449fa59699cedd9-sidebarCardWrapper {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark);
	margin: 16px;
	padding: 0;
	gap: 0
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container ._5d7c9a81ac5dd074-emptyPage,
._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container .scrollerContainer_c6b11b,
._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container .container_c2efea {
	background: unset
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container ._0b56311ebc6682e2-tabBar {
	border-bottom: 0
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container ._0b56311ebc6682e2-tabBar ._0b56311ebc6682e2-tabBarItem {
	padding: 2px 8px
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container ._0b56311ebc6682e2-tabBar .textBadge_f05120 {
	--background-accent: var(--chum-dark)
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container .heading-md-semibold__76ba1 {
	--header-primary: #000000
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container .heading-md-semibold__76ba1+.text-xs-normal__46d75 {
	--text-muted: #000000
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container ._5d7c9a81ac5dd074-helpText {
	--text-muted: #000000
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container ._5d7c9a81ac5dd074-prompt {
	border: none;
	background: unset
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container ._5d7c9a81ac5dd074-prompt ._270d7a28db32b312-optionButtonWrapper {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container ._5d7c9a81ac5dd074-prompt ._270d7a28db32b312-optionButtonWrapper._270d7a28db32b312-selected {
	background: var(--chum-background);
	border: 4px solid var(--chum-light)
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container ._5d7c9a81ac5dd074-prompt ._270d7a28db32b312-optionButtonWrapper._270d7a28db32b312-selected ._270d7a28db32b312-checkIcon {
	background: var(--chum-light)
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container ._5d7c9a81ac5dd074-prompt ._270d7a28db32b312-optionButtonWrapper._270d7a28db32b312-selected ._270d7a28db32b312-checkIcon path {
	fill: #000
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container ._5d7c9a81ac5dd074-profileCard {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container .container__33507 {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container .e4503acec53c64dd-categoryRow {
	--text-muted: #000000
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container .e4503acec53c64dd-categoryRow .checkbox_f525d3 {
	background: #000 !important;
	border: none
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container .e4503acec53c64dd-channelRow {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark);
	border-top-width: 0;
	border-bottom-width: 0
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container .e4503acec53c64dd-channelRow.e4503acec53c64dd-firstChannel {
	border-top-width: 4px
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container .e4503acec53c64dd-channelRow.e4503acec53c64dd-lastChannel {
	border-bottom-width: 4px
}

._0b56311ebc6682e2-header:has(path[d^="M18.5 23"])+._0b56311ebc6682e2-container._0b56311ebc6682e2-container._0b56311ebc6682e2-container .e4503acec53c64dd-separator {
	display: none
}

._496688f04cb26d28-content {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark);
	margin: 16px;
	padding: 0;
	padding-right: 0 !important
}

._496688f04cb26d28-content ._496688f04cb26d28-contentContainer {
	width: auto
}

._496688f04cb26d28-content .adb50a654b4cd212-container {
	background: unset;
	box-shadow: none;
	border: none
}

._496688f04cb26d28-content .adb50a654b4cd212-container .adb50a654b4cd212-coverImageContainer {
	width: unset
}

._496688f04cb26d28-content .d804ff2e60e07385-container {
	padding: 16px
}

._496688f04cb26d28-content .d804ff2e60e07385-container .d804ff2e60e07385-tab {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark);
	box-shadow: none
}

._496688f04cb26d28-content .d804ff2e60e07385-container .d804ff2e60e07385-tab.d804ff2e60e07385-selected {
	background: var(--chum-medium);
	border: 4px solid var(--chum-light);
	box-shadow: none
}

._496688f04cb26d28-content .d804ff2e60e07385-container .d804ff2e60e07385-tab .text-sm-semibold_d260b0,
._496688f04cb26d28-content .d804ff2e60e07385-container .d804ff2e60e07385-tab .text-xs-normal__46d75 {
	color: #000 !important
}

._496688f04cb26d28-content ._496688f04cb26d28-tabContainer {
	border-top: 0
}

._496688f04cb26d28-content ._3efc4041416bf6dc-cardContainerWithoutTopIndicator {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark);
	--header-primary: #000000;
	--header-secondary: #000000;
	--interactive-active: #000000;
	--interactive-normal: #000000;
	--text-muted: #000000;
	--text-normal: #000000
}

._496688f04cb26d28-content ._3efc4041416bf6dc-cardContainerWithoutTopIndicator ._3efc4041416bf6dc-tierInfoContainer,
._496688f04cb26d28-content ._3efc4041416bf6dc-cardContainerWithoutTopIndicator ._3efc4041416bf6dc-subscriptionPerks {
	background: unset
}

._496688f04cb26d28-content ._3efc4041416bf6dc-cardContainerWithoutTopIndicator ._3efc4041416bf6dc-roleMessagePreview {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark);
	--text-normal: var(--chum-foreground)
}

.a98f3b020416ad54-searchResultsWrap {
	background: var(--chum-medium);
	border: 4px solid var(--chum-light)
}

.a98f3b020416ad54-searchResultsWrap .ae7890a1b8e75804-searchHeader {
	background: var(--chum-medium);
	--header-primary: #000000
}

.a98f3b020416ad54-searchResultsWrap .a98f3b020416ad54-scroller {
	padding: 0 10px;
	padding-right: 6px !important
}

.a98f3b020416ad54-searchResultsWrap .a7e67f4ddd7c6bb2-searchResultGroup .a7e67f4ddd7c6bb2-channelNameContainer {
	--header-primary: #000000;
	--header-secondary: #000000
}

.a98f3b020416ad54-searchResultsWrap .a7e67f4ddd7c6bb2-searchResultGroup ._80bf8435713f6adb-searchResult {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark);
	border-top: 0;
	border-bottom: 0;
	overflow: unset
}

.a98f3b020416ad54-searchResultsWrap .a7e67f4ddd7c6bb2-searchResultGroup ._80bf8435713f6adb-searchResult::before,
.a98f3b020416ad54-searchResultsWrap .a7e67f4ddd7c6bb2-searchResultGroup ._80bf8435713f6adb-searchResult::after {
	content: "";
	display: block;
	height: 4px;
	background: var(--chum-dark);
	position: sticky;
	z-index: 2
}

.a98f3b020416ad54-searchResultsWrap .a7e67f4ddd7c6bb2-searchResultGroup ._80bf8435713f6adb-searchResult::before {
	top: 0
}

.a98f3b020416ad54-searchResultsWrap .a7e67f4ddd7c6bb2-searchResultGroup ._80bf8435713f6adb-searchResult::after {
	bottom: 54px
}

.a98f3b020416ad54-searchResultsWrap .a7e67f4ddd7c6bb2-searchResultGroup ._80bf8435713f6adb-buttonsContainer {
	display: none
}

.a98f3b020416ad54-searchResultsWrap:not(:has(.c1521037ef09de7e-pageControlContainer)) ._80bf8435713f6adb-searchResult::after {
	bottom: 20px
}

.a98f3b020416ad54-searchResultsWrap ._6c21f4f70f1e833a-container {
	position: sticky;
	bottom: 0;
	background: var(--chum-medium);
	z-index: 2;
	--header-primary: #000000;
	--text-normal: #000000;
	--interactive-hover: #000000
}

.a98f3b020416ad54-searchResultsWrap ._6c21f4f70f1e833a-container .c1521037ef09de7e-pageButton {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark)
}

.a98f3b020416ad54-searchResultsWrap ._6c21f4f70f1e833a-container .c1521037ef09de7e-pageButton.c1521037ef09de7e-activeButton {
	border-color: var(--chum-light);
	color: #000
}

.ef3116c2da186559-wrapper {
	background: unset
}

._6e9f8dce4cc18de3-wrapper:is(._6e9f8dce4cc18de3-wrapper, :hover) ._6e9f8dce4cc18de3-childWrapper:not(._1f388bcaa446c0c8-tutorialContainer ._6e9f8dce4cc18de3-childWrapper) {
	background: var(--chum-background);
	color: var(--chum-light)
}

._6e9f8dce4cc18de3-wrapper:is(._6e9f8dce4cc18de3-wrapper, :hover) ._6e9f8dce4cc18de3-childWrapper {
	background: url("https://minidiscordthemes.github.io/Pesterchum/img/home.avif") center/80% no-repeat var(--chum-background);
	color: rgba(0, 0, 0, 0)
}

.ef3116c2da186559-wrapper ._5bc7ed9d4097f6b5-circleIconButton {
	color: var(--chum-light)
}

.ef3116c2da186559-wrapper .footer__214dc {
	background: unset
}

.ef3116c2da186559-wrapper .childWrapper_a6ce15,
.ef3116c2da186559-wrapper .wrapper__8436d:hover .childWrapper_a6ce15,
.ef3116c2da186559-wrapper .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
.ef3116c2da186559-wrapper ._5bc7ed9d4097f6b5-circleIconButton {
	background-color: var(--chum-background)
}

.ef3116c2da186559-wrapper ._48112cbe77dc5022-folderGroupBackground,
.ef3116c2da186559-wrapper .b18fe29d6fe8dd82-hiddenVisually {
	background: var(--chum-background)
}

._01ae244280823725-chatTarget,
._01ae244280823725-container {
	background: var(--chum-medium)
}

.f02135b221cc85a6-chat,
.a44415a3320e67de-chat {
	padding: 16px
}

.f02135b221cc85a6-chat::before,
.a44415a3320e67de-chat::before {
	display: none
}

._01ae244280823725-floating {
	filter: none;
	border-left: 4px solid var(--chum-light)
}

._01ae244280823725-resizeHandle {
	width: 6px;
	background: var(--chum-light)
}

._421edea01cb52e16-wordmark {
	visibility: hidden;
	padding: 0
}

._421edea01cb52e16-wordmark::before {
	visibility: visible;
	padding: 4px 9px 3px;
	content: "PESTERCHUM";
	font-weight: 700;
	font-size: 16px;
	color: #fff
}

._421edea01cb52e16-winButton {
	color: #fff
}

._5e434347c823b592-sidebar {
	background: unset;
	padding: 10px;
	gap: 10px;
	width: var(--chum-sidebar-width);
	box-sizing: border-box
}

._5e434347c823b592-sidebar::before {
	content: "PESTERCHUM 6.0";
	font-size: 27px;
	font-weight: 700;
	text-align: center;
	color: #fff
}

._5e434347c823b592-sidebar ._2637a2609f343032-container,
._5e434347c823b592-sidebar .e6b7699ce8339e1c-privateChannels,
._5e434347c823b592-sidebar ._5e434347c823b592-panels {
	background: var(--chum-background);
	border: 4px solid var(--chum-light)
}

:root {
	--channellist-width: var(--chum-sidebar-width)
}

._5e434347c823b592-sidebar ._07f9193042954787-overlap ._07f9193042954787-avatar,
._5e434347c823b592-sidebar ._55bab3f0b2555838-moreContainer {
	background: #000;
	border: 4px solid var(--chum-dark);
	border-radius: 999px
}

._5e434347c823b592-sidebar ._7aaec78b97ff00f7-bar {
	background: #000;
	border: 4px solid var(--chum-dark);
	border-radius: 999px
}

._5e434347c823b592-sidebar ._260e1982cd52c5c3-wrapper ._260e1982cd52c5c3-users,
._5e434347c823b592-sidebar ._260e1982cd52c5c3-wrapper ._260e1982cd52c5c3-total {
	background: unset
}

._5e434347c823b592-sidebar ._260e1982cd52c5c3-wrapper ._260e1982cd52c5c3-total:after {
	content: "/";
	border: 0
}

._5e434347c823b592-sidebar .voiceChannelsButton__29444:hover {
	background: unset
}

._5e434347c823b592-panels ._5dec784a68542d60-panel,
._5e434347c823b592-panels .e131a99484292a19-container,
._5e434347c823b592-panels ._37e49614b9f110a9-container,
._5e434347c823b592-panels ._0d6162a4e6a4b802-wrapper {
	background: unset
}

._5e434347c823b592-panels ._0d6162a4e6a4b802-contentWrapper,
._5e434347c823b592-panels .postEnrollmentBackground_c3427e {
	background: var(--chum-background) !important
}

._5e434347c823b592-panels ._5dec784a68542d60-panel {
	border-bottom: 0
}

._5e434347c823b592-panels .e131a99484292a19-container {
	border-bottom: 0
}

._5e434347c823b592-panels .e131a99484292a19-container .e131a99484292a19-actionButtons .e131a99484292a19-button:not(._201d5e8a3c09670a-disabledButtonWrapper) {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark);
	height: 36px;
	color: var(--chum-background);
	padding: 0
}

._5e434347c823b592-panels .e131a99484292a19-container .e131a99484292a19-actionButtons ._201d5e8a3c09670a-disabledButtonWrapper {
	height: 36px
}

._5e434347c823b592-panels .e131a99484292a19-container .e131a99484292a19-actionButtons ._201d5e8a3c09670a-disabledButtonWrapper ._201d5e8a3c09670a-contents {
	display: flex;
	align-items: center
}

._5e434347c823b592-panels ._37e49614b9f110a9-container {
	margin-bottom: 0
}

._5e434347c823b592-panels ._37e49614b9f110a9-container ._37e49614b9f110a9-avatarWrapper {
	margin: 0;
	padding-left: 0
}

.bd-sidebar-header .bd-icon {
	fill: #000
}

.bd-sidebar-header .bd-sidebar-header-label {
	color: #000
}

._960e4207cea8323e-layer {
	opacity: 1 !important
}

._960e4207cea8323e-layer+._960e4207cea8323e-layer {
	background: unset;
	-webkit-backdrop-filter: blur(2px) brightness(0.7);
	backdrop-filter: blur(2px) brightness(0.7);
	align-items: center;
	z-index: 100
}

._960e4207cea8323e-layer+._960e4207cea8323e-layer div:has(>._23e6b439306f125a-standardSidebarView) {
	display: flex;
	justify-content: center;
	width: 100%
}

._23e6b439306f125a-standardSidebarView {
	background: var(--chum-medium);
	border: 4px solid var(--chum-light);
	padding: 10px;
	left: unset;
	right: unset;
	bottom: 20px;
	top: 20px
}

.platform-win ._23e6b439306f125a-standardSidebarView {
	top: 42px
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebarRegion {
	flex: 0 0 var(--custom-standard-sidebar-view-sidebar-total-width)
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebarRegionScroller {
	background: var(--chum-medium)
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar {
	padding: 0 6px 0 0
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar :is(.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item, .aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item:hover) {
	border-top: 0;
	border-bottom: 0;
	overflow: unset;
	padding: 0
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar :is(.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item, .aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item:hover)::before,
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar :is(.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item, .aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item:hover)::after {
	content: "";
	display: block;
	height: 4px;
	background: var(--chum-dark);
	position: sticky;
	z-index: 2
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar :is(.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item, .aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item:hover)::before {
	top: 0
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar :is(.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item, .aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item:hover)::after {
	bottom: 0
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar :is(.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item, .aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item:hover).aa8da23faa27393c-selected::before,
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar :is(.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item, .aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item:hover).aa8da23faa27393c-selected::after {
	background: var(--chum-light)
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar :is(.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item, .aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item:hover)::before {
	margin-bottom: 6px
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar :is(.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item, .aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item:hover)::after {
	margin-top: 6px
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar .aa8da23faa27393c-separator {
	background: unset
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar .aa8da23faa27393c-header,
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar ._7df54e658bdcad78-link {
	color: #000
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar .aa8da23faa27393c-headerText {
	display: flex
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar .aa8da23faa27393c-headerText .category-CysNYv {
	color: #000 !important;
	order: -1
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar .aa8da23faa27393c-headerText .category-CysNYv::after {
	content: " / "
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebar ._2debea61131de3de-info ._2debea61131de3de-line {
	color: #000 !important
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-contentRegionScroller {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

.userProfileOuter_c69a7b {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark)
}

.userProfileOuter_c69a7b .userProfileInner_c69a7b {
	background: var(--chum-medium)
}

.userProfileOuter_c69a7b .overlayBackground_c69a7b {
	background: unset
}

.userProfileOuter_c69a7b .defaultColor__77578 {
	color: #000
}

.userProfileOuter_c69a7b ._44b0c28be7879b7b-avatar {
	background: var(--chum-dark)
}

.userProfileOuter_c69a7b .profileBadges_f89da9,
.userProfileOuter_c69a7b .badgeList_ec3b75 {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark);
	padding: 0
}

.userProfileOuter_c69a7b .profileBadges_f89da9:empty,
.userProfileOuter_c69a7b .badgeList_ec3b75:empty {
	visibility: hidden
}

.userProfileOuter_c69a7b .relationshipButtons_ec3b75 .actionButton_fe3e88 {
	background: var(--chum-medium);
	border: 4px solid var(--chum-light);
	height: 35px;
	color: #000
}

.userProfileOuter_c69a7b .relationshipButtons_ec3b75 .actionButton_fe3e88 ._201d5e8a3c09670a-contents {
	font-size: 0
}

.userProfileOuter_c69a7b .relationshipButtons_ec3b75 .actionButton_fe3e88 ._201d5e8a3c09670a-contents::before {
	font-size: 14px;
	content: "Pester"
}

.userProfileOuter_c69a7b .relationshipButtons_ec3b75 .actionButton_fe3e88:disabled ._201d5e8a3c09670a-contents {
	font-size: 0
}

.userProfileOuter_c69a7b .relationshipButtons_ec3b75 .actionButton_fe3e88:disabled ._201d5e8a3c09670a-contents::before {
	font-size: 14px;
	content: "Chum request sent"
}

.userProfileOuter_c69a7b .relationshipButtons_ec3b75 .additionalActionsIcon_ec3b75,
.userProfileOuter_c69a7b .relationshipButtons_ec3b75 .additionalActionsIcon_ec3b75:hover {
	color: #000
}

.userProfileOuter_c69a7b .userTagUsernameBase_c9ccf6,
.userProfileOuter_c69a7b .discriminator_afed89 {
	color: #000
}

.userProfileOuter_c69a7b .discrimBase_c9ccf6 {
	color: #4f5660
}

.userProfileOuter_c69a7b .customStatus__3aa7f,
.userProfileOuter_c69a7b .customStatus-3qYNe4 {
	color: #4f5660
}

.userProfileOuter_c69a7b .tabBarContainer_b9fccc {
	border-bottom: 0
}

.userProfileOuter_c69a7b .tabBarContainer_b9fccc .tabBar_b9fccc {
	gap: 10px
}

.userProfileOuter_c69a7b .tabBarContainer_b9fccc .tabBar_b9fccc .aa8da23faa27393c-item {
	background: var(--chum-medium);
	border: 4px solid var(--chum-light);
	color: #000;
	padding: 8px;
	box-sizing: border-box
}

.userProfileOuter_c69a7b .tabBarContainer_b9fccc .tabBar_b9fccc .aa8da23faa27393c-item.aa8da23faa27393c-selected,
.userProfileOuter_c69a7b .tabBarContainer_b9fccc .tabBar_b9fccc .aa8da23faa27393c-item:hover {
	border-bottom-color: var(--chum-dark)
}

.userProfileOuter_c69a7b .tabBarContainer_b9fccc .tabBar_b9fccc .aa8da23faa27393c-item:first-child {
	font-size: 0
}

.userProfileOuter_c69a7b .tabBarContainer_b9fccc .tabBar_b9fccc .aa8da23faa27393c-item:first-child::before {
	font-size: 14px;
	content: "Chum Info"
}

.userProfileOuter_c69a7b .tabBarContainer_b9fccc .tabBar_b9fccc .aa8da23faa27393c-item:nth-last-child(2) {
	font-size: 0
}

.userProfileOuter_c69a7b .tabBarContainer_b9fccc .tabBar_b9fccc .aa8da23faa27393c-item:nth-last-child(2)::before {
	font-size: 14px;
	content: "Mutual Chums"
}

.userProfileOuter_c69a7b .divider_e6f9ab {
	display: none
}

.userProfileOuter_c69a7b .title_c4a579 {
	color: #4f5660
}

.userProfileOuter_c69a7b .memberSinceContainer__16630 .discordIcon__1e1be {
	color: #000
}

.userProfileOuter_c69a7b .activity__20c1e ._2ef4989efde1f4e4-headerText {
	color: #4f5660
}

.userProfileOuter_c69a7b .activity__20c1e ._2ef4989efde1f4e4-activityName,
.userProfileOuter_c69a7b .activity__20c1e ._2ef4989efde1f4e4-content,
.userProfileOuter_c69a7b .activity__20c1e ._2ef4989efde1f4e4-details,
.userProfileOuter_c69a7b .activity__20c1e ._2ef4989efde1f4e4-name,
.userProfileOuter_c69a7b .activity__20c1e ._2ef4989efde1f4e4-nameNormal,
.userProfileOuter_c69a7b .activity__20c1e ._2ef4989efde1f4e4-nameWrap {
	color: #000
}

.userProfileOuter_c69a7b .dfa8b6b94cddb191-role {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark);
	box-sizing: content-box;
	padding: 0
}

.userProfileOuter_c69a7b .dfa8b6b94cddb191-role ._48c1c0768f2a2421-roleNameOverflow {
	color: var(--chum-foreground)
}

.userProfileOuter_c69a7b .note_c90ad7,
.userProfileOuter_c69a7b .note_c90ad7 {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

.userProfileOuter_c69a7b .note_c90ad7 .textarea_dde0a8,
.userProfileOuter_c69a7b .note_c90ad7 .textarea_dde0a8 {
	color: var(--chum-foreground)
}

.userProfileOuter_c69a7b .messageInputContainer_f2c0a8 {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

.userProfileOuter_c69a7b .messageInputContainer_f2c0a8 .messageInput_f2c0a8 {
	color: var(--chum-foreground)
}

.userProfileOuter_c69a7b .e6abe833ac70fcae-connectedAccountContainer {
	background: var(--chum-background);
	border: 4px solid var(--chum-dark)
}

.userProfileOuter_c69a7b .listRow__9d78f .listName__9d78f,
.userProfileOuter_c69a7b .listRow__9d78f .guildNick_aafe31 {
	color: #4f5660
}

.userProfileOuterThemed_c69a7b.userPopoutOuter_c69a7b,
.userProfileOuterThemed_c69a7b.userProfileOuter_c69a7b {
	padding: 0
}

.userProfileInner_c69a7b::before {
	display: none
}

:root {
	--font-primary: courier_prime, courier_new_cyr, Courier New, Courier, monospace;
	--font-display: courier_prime, courier_new_cyr, Courier New, Courier, monospace;
	--font-headline: courier_prime, courier_new_cyr, Courier New, Courier, monospace;
	--font-code: courier_prime, courier_new_cyr, Courier New, Courier, monospace
}

._6c79861fd96f56b1-wrapper {
	background: unset
}

._6c79861fd96f56b1-wrapper .fc817765600a960a-wrapper {
	background: unset
}

._6c79861fd96f56b1-wrapper .fc817765600a960a-wrapper .fc817765600a960a-attachment,
._6c79861fd96f56b1-wrapper .fc817765600a960a-wrapper .fc817765600a960a-avatar,
._6c79861fd96f56b1-wrapper .fc817765600a960a-wrapper .fc817765600a960a-blob {
	background: var(--chum-dark);
	opacity: .2 !important
}

.f369dba7416c67f0-loadingCard {
	background: var(--chum-dark);
	opacity: .2 !important
}

.d125d22cdfd32cfe-auto::-webkit-scrollbar,
._99f8cc7ad4790ce9-auto::-webkit-scrollbar {
	width: 8px;
	height: 8px
}

.d125d22cdfd32cfe-auto::-webkit-scrollbar-thumb,
._99f8cc7ad4790ce9-auto::-webkit-scrollbar-thumb {
	background: var(--chum-light)
}

.d125d22cdfd32cfe-auto::-webkit-scrollbar-thumb,
.d125d22cdfd32cfe-auto::-webkit-scrollbar-track,
._99f8cc7ad4790ce9-auto::-webkit-scrollbar-thumb,
._99f8cc7ad4790ce9-auto::-webkit-scrollbar-track {
	border: 4px solid rgba(0, 0, 0, 0)
}

._36d072eab2b2e737-scroller::-webkit-scrollbar-track {
	margin-bottom: 0
}

._99f8cc7ad4790ce9-thin::-webkit-scrollbar,
.d125d22cdfd32cfe-thin::-webkit-scrollbar {
	width: 4px;
	height: 4px
}

._99f8cc7ad4790ce9-thin::-webkit-scrollbar-thumb,
.d125d22cdfd32cfe-thin::-webkit-scrollbar-thumb {
	background: var(--chum-light)
}

._99f8cc7ad4790ce9-thin::-webkit-scrollbar-thumb,
._99f8cc7ad4790ce9-thin::-webkit-scrollbar-track,
.d125d22cdfd32cfe-thin::-webkit-scrollbar-thumb,
.d125d22cdfd32cfe-thin::-webkit-scrollbar-track {
	border: 4px solid rgba(0, 0, 0, 0)
}

.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item,
.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item:hover {
	background: var(--chum-medium);
	border: 4px solid var(--chum-dark);
	background: var(--chum-medium);
	color: #000;
	padding: 0 5px
}

.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-item.aa8da23faa27393c-selected {
	border-color: var(--chum-light);
	background: var(--chum-medium);
	padding: 0 5px
}

.f75fb00fb7356cbe-form .b8880176888cc928-base,
.f75fb00fb7356cbe-form .b8880176888cc928-base ._5ad890d06f24286d-dots._5ad890d06f24286d-themed,
.userProfileOuter_c69a7b .userTagUsernameBase_c9ccf6,
.userProfileOuter_c69a7b .discriminator_afed89,
._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) :is(._9293f6b2fc12398a-title, ._6ec1a06139ec3b27-topic, .nicknames__12efb, ._9293f6b2fc12398a-icon, ._9293f6b2fc12398a-clickable ._9293f6b2fc12398a-icon, ._9293f6b2fc12398a-clickable:hover ._9293f6b2fc12398a-icon, ._9293f6b2fc12398a-selected ._9293f6b2fc12398a-icon) {
  color: white;
}

._9293f6b2fc12398a-container:is(.f75fb00fb7356cbe-title, ._9293f6b2fc12398a-themed) ._9293f6b2fc12398a-iconWrapper path {
  fill: white;
}